body {
  margin: auto 0;
  padding: 0;
  font-family: "open sans", serif;
  background-color: #ccc;
  text-align: center;
  margin-bottom: 100px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  text-align: left;
  background-color: #006400;
  opacity: 0.98;
  height: 60px;
  box-shadow: 1px 0px 6px #CCCCCC;
}

#logo {
  width: 270px;
  padding: 12px 15px;
}

h1 {
  margin: 92px 0 30px 0;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #000;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
  top: 140px;
  left: 12vw;
}

.arrow.slide-in {
  transform: translate(50.5vw);
}

.arrow.last-thirty {
  transform: translateX(67.5vw)
}

table {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 80vw;
  font-weight: 500;
  box-shadow: 4px 6px 30px #666;
}

.table-head {
  border-color: black;
  height: 45px
}

.table-head .active {
  background-color: #006400
}

.active {
  font-weight: bolder;
  font-size: 18px;
}

.not-active {
  font-weight: 300;
}

.table-head .not-active {
  cursor: pointer;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table th {
  color: white;
  background-color: black;
}

.name-head {
  text-align: left;
  padding: 0 0 0 12px;
}

.position, .name, .total, .recent {
  text-align: center;
}

.position {
  font-size: 40px;
  font-weight: 100;
  width: 20px;
  line-height: 0;
  color: #006400;
}

.image {
  float: left;
  margin: 5px 1vw 0 1vw;
  border-radius: 3px;
}

table a {
  text-decoration: none;
  color: #006400;
  font-weight: 800;
  font-size: 20px;
  line-height: 0;
}

.signature p {
  color: #777;
}

.signature a {
  text-decoration: none;
  margin: 10px 0 0 0;
  color: #fff;
}

.signature a:hover {
  color: #eee;
}

@media (max-width: 900px) {
  table {
    width: 97vw;
  }
  .arrow {
    left: 4vw;
  }
  .arrow.slide-in {
    transform: translateX(61.5vw);
  }
  .arrow.last-thirty {
    transform: translateX(81.5vw)
  }
  * {
    user-select: none;
  }
}

@media (max-width: 557px) {
  table {
    width: 98vw;
  }
  .arrow {
    left: 0vw;
  }
  .arrow.slide-in {
    transform: translateX(69vw);
  }
  .arrow.last-thirty {
    transform: translateX(84vw)
  }
  th.active {
    font-size: 16px;
  }
  .image-and-name .name {
    overflow: hidden;
  }
  .image-and-name {
    width: 56vw;
    min-width: 56vw;
    max-width: 56vw;
  }
  .position {
    font-size: 18px;
    font-weight: 800;
    width: 5vw;
  }
}
